
* {
	padding: 0px;
	margin: 0px;
}
.div1{
	width:95%;
	margin:5px;

}
.f{
margin:auto;

}

fieldset {
	width: 100%;
	margin:10px;
	border: 2px solid grey;

}
.title {
	text-align: center;
}
legend{
  margin-left: 25px;
  font-size:20px;
  font-weight:bold;
}
p {

	margin-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	font-size:15px;
}


.but1 {
	display: flex;
	justify-content: center
}

.but {
	font-size: 15px;
	font-family: "Microsoft Sans Serif";
	/*text-align: center; */
	margin: 5px;
	background-color: black;
	color: white;
	width: 25%;
}